/*RESET CSS TOP THE TOP*/

html, body, div{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.wrap {
  width: 1280px;
  margin: 0 auto;
}


li{
    display:inline-block;
    font-size: 28px;
    padding-top: 5px;
}

.content {
width: 1280px;
margin: 0 auto;
display: block;
padding-top: 50px;
}

.blackcontent {
width: 1270px;
margin: 0 auto;
display: block;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
background-color: #000;
}

.dgreycontent {
width: 1270px;
margin: 0 auto;
display: block;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
background-color: #383838;
}

.mgreycontent {
width: 1270px;
margin: 0 auto;
display: block;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
background-color: #7b7b7b;
}

.lgreycontent {
width: 1270px;
margin: 0 auto;
display: block;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
background-color: #cecece;
}