/* FOR FONT-FACE AND HEADER/STYLE LOADING */

/* FONT-FACE BELOW */

/* LOGO FIRA */
@font-face {
  font-family: Fira Sans;
  src: local("Fira Sans"),
  local("FiraSans"),
  url(../fonts/FiraSans/FiraSans-Regular.ttf) format('truetype');
  url(../fonts/FiraSans/FiraSans-Regular.woff) format('woff');    
  font-weight: normal;
}

/* DIN FONT */
@font-face {
  font-family: DIN;
  src: local("DIN"),
  local("FiraSans"),
  url(../fonts/DIN/din-regular-webfont.woff) format('woff');
  url(../fonts/DIN/din-regular-webfont.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: DIN Light;
  src: local("DIN Light"),
  local("DINLight"),
  url(../fonts/DIN/din-light-webfont.woff) format('woff');
  url(../fonts/DIN/din-light-webfont.ttf) format('truetype');
  font-weight: lighter;
}

/* STYLE BELOW */

.logofont {
	font-family: "Fira Sans";
	font-size: 20px;
    text-align: left;
    line-height: 20px;
}

.style2 {
	font-family: "DIN";
	font-size: 20px;
    text-align: left;
    line-height: 20px;
    color: #cccccc;
}

/* HEADER BELOW */
h1 {
	font-family: "DIN";
	font-size: 40px;
    text-align: left;
    color: #ffffff;
}
